@import 'tailwindcss';

@font-face {
  font-family: 'Journal Sans';
  src:
    url('../fonts/JournalSans/JournalSans.woff2') format('woff2'),
    url('../fonts/JournalSans/JournalSans.woff') format('woff'),
    url('../fonts/JournalSans/JournalSans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Journal Sans';
  src:
    url('../fonts/JournalSans/JournalSans-Italic.woff2') format('woff2'),
    url('../fonts/JournalSans/JournalSans-Italic.woff') format('woff'),
    url('../fonts/JournalSans/JournalSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Journal Sans';
  src:
    url('../fonts/JournalSans/JournalSans-Bold.woff2') format('woff2'),
    url('../fonts/JournalSans/JournalSans-Bold.woff') format('woff'),
    url('../fonts/JournalSans/JournalSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans:
    'Journal Sans', ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  --color-gray-100: #f8f9fa;
  --color-gray-200: #e9ecef;
  --color-gray-300: #dcdee1;
  --color-gray-400: #ced4da;
  --color-gray-500: #adb5bd;
  --color-gray-600: #878796;
  --color-gray-700: #495057;
  --color-gray-800: #2f323b;
  --color-gray-900: #282b32;
  --color-gray-950: #1f2128;
}

html {
  background-color: var(--color-gray-950);
}

/* Global transition: slide-up */
.slide-up-enter-active,
.slide-up-leave-active {
  transition:
    transform 0.2s ease-out,
    opacity 0.2s ease-out;
}

.slide-up-enter-from,
.slide-up-leave-to {
  transform: translateY(3rem);
  opacity: 0;
}

/* Global transition: spin */
.spin {
  animation: spin 3s infinite;
  animation-timing-function: cubic-bezier(0.1, 0.55, 0.265, 3);

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
